/* global view */

body{
    margin: 0;
}


.container{
    /* background-color: darkcyan; */
    min-height: 500px;
    /* width: 1355px;1355px->total widtth */
    /* width: 75%; */
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hide-desktop-only{
    display: none;
}
.col{
    /* background-color: pink;
    min-height: 200px; */
    background-color: darkcyan;
    width: 30%;
    margin-bottom: 40px;

}
/* 
1rem =16px aprox
to covert 16px into rem  { 16px*0.0625=1rem}
to convert 14px into rem {14px*0.0625=0.875rem}  */

.col p{
    color: white;
    font-size: 0.875rem;
    padding: 20px 25px;


}


.col img{
    width: 100%;
    height: auto
}


.col p::first-line{
    font-weight: bold;
  
}

/* tablet view */
@media (max-width:786px){

   .col{
       width: 45%;
   }
}

/* mobile view */
@media (max-width:400px){
    
    .col{
        width: 100%;
    }

    .hide-mobile{
        display: none;
    }
}
